@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html,
body,
div#root {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: calc(0.75em + 1vmin);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
